body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQcRUyFwjUCFyrTfHky04vrSqPaFZLjb5wHkA&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}



h1{
    color: #d7385e;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 500;
    padding: 2%;
}

h2{
    font-family: Impact,  'Arial Narrow Bold', sans-serif;
    padding: 2%;
    color: #cf7500;
    font-weight: 200;
}

h3{
    font-family: Impact,  'Arial Narrow Bold', sans-serif;
    padding: 2%;
    color: #cf7500;
    font-weight: 100;
}
p{
    width: 50%;
    color: #d92027;
    margin-left: 2%;
    font-weight: 800;
    font-size: larger;
}
button{
    margin-left: 2%;
    color: #e71414;
}
img{
    margin-left: 2%;
    padding: 2%;
}
.footertxt{
    font-size: small;
    font-weight: normal;
    color: darkslategray;
}